<!-- <!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Login</title>
</head>
<body>
   <center>
      <h1>Login to FunFarm</h1>
   </center>

   <br>

   <div>
      <form method="POST", action="">
         {% csrf_token %}
         <label>Username: </label>
         <input type="text" name="username">
      
         <label>Password: </label>
         <input type="password" name="password">
      
         <input type="submit" />
      </form>
   </div>
</body>
</html> -->